table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Limit the width of the Message Count column and allow content to wrap */
td.messages {
    width: 150px;
    /* Adjust the width as needed */
    max-height: 80px;
    /* Adjust the height as needed */
    overflow-y: auto;
    word-break: break-word;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

th i {
    display: inline-block;
}